<div class="header">
    <h1>{{jobTitle}}</h1>
</div>
<div class="body">
    <p>{{location}}</p>
</div>
<div class="footer">
    <div><a href="http://twitter.com/{{author.twitter}}">{{autor.name}}</a>
    </div>
    <div>
      {{companyName}}
    </div>
</div>
