<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Hello, AMPs</title>
    <link rel="canonical" href="{{canonicalLink}}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "JobPosting",
        "title": "{{jobTitle}}",
        "datePosted": "{{datePosted}}",
        "description": "{{jobDescription}}"
      }
    </script>
    <style amp-custom>
      h1 {
        color: red;
      }
    </style>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  </head>
  <body>
    <amp-img src="{{companyLogo.url}}"
      width="{{companyLogo.width}}"
      height="{{companyLogo.height}}"
      layout="fixed"></amp-img>
    <h1>{{jobTitle}}</h1>
    <a href="javascript:alert(1)">xss link</a>
    <h2>{{companyName}}</h2>
    <div>
      How to Apply: {{howToApply}}
    </div>
    {{{jobDescription}}}
    <div>{{location}}</div>
    <div>{{url}}</div>
  </body>
</html>
