<!DOCTYPE html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="twitter:card" content="summary_large_image" />
  {{#if companyLogo}}
  <meta name="twitter:image" content="{{companyLogo.openGraphImageTag.url}}" />
  <meta name="twitter:image:width" content="{{companyLogo.openGraphImageTag.width}}" />
  <meta name="twitter:image:height" content="{{companyLogo.openGraphImageTag.height}}" />
  {{/if}}
  <meta property="og:title" content="{{jobTitle}} - {{companyName}} | hallo.io" />
  <meta property="og:site_name" content="hallo.io" />
  {{#if companyLogo}}
  <meta property="og:image" itemprop="image" content="{{companyLogo.openGraphImageTag.url}}" />
  <meta property="og:image:secure_url" content="{{companyLogo.openGraphImageTag.url}}" />
  <meta property="og:image:width" content="{{companyLogo.openGraphImageTag.width}}" />
  <meta property="og:image:height" content="{{companyLogo.openGraphImageTag.height}}" />
  {{/if}}
  <meta property="og:url" content="{{canonicalLink}}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{stripMarkdown jobDescription 150}}" />
  <meta name="description" content="{{stripMarkdown jobDescription 150}}" />

  <title>{{jobTitle}} - {{companyName}} | hallo.io</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/static/img/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/static/img/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/static/img/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="hallo.io"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="/static/img/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/static/img/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/static/img/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/static/img/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/static/img/mstile-310x310.png" />

  <link rel="canonical" href="{{canonicalLink}}" />

  <meta name="apple-mobile-web-app-capable" content="yes">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "JobPosting",
      "title": "{{jobTitle}}",
      "description": "{{{stripMarkdown jobDescription}}}",
      "hiringOrganization": {
        "@type": "Organization",
        "name": "{{companyName}}"
      },
      "jobLocation": "{{jobLocation}}",
      {{#if employmentType}}
      "employmentType": "{{employmentType}}",
      {{/if}}
      {{#if workHours}}
      "workHours": "{{workHours}}",
      {{/if}}
      {{#if responsibilities}}
      "responsibilities": "{{{stripMarkdown responsibilities}}}",
      {{/if}}
      {{#if skills}}
      "skills": "{{{stripMarkdown skills}}}",
      {{/if}}
      {{#if educationRequirements}}
      "educationRequirements": "{{{stripMarkdown educationRequirements}}}",
      {{/if}}
      {{#if experienceRequirements}}
      "experienceRequirements": "{{{stripMarkdown experienceRequirements}}}",
      {{/if}}
      {{#if qualifications}}
      "qualifications": "{{{stripMarkdown qualifications}}}",
      {{/if}}
      {{#if incentiveCompensation}}
      "incentiveCompensation": "{{{stripMarkdown incentiveCompensation}}}",
      {{/if}}
      {{#if jobBenefits}}
      "jobBenefits": "{{{stripMarkdown jobBenefits}}}",
      {{/if}}
      "datePosted": "{{datePosted}}"
    }
  </script>
	<style amp-custom>
    {{{css}}}
	</style>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

</head>
<body class="home">

	<!-- Google Tag Manager -->
	<amp-analytics
    config="https://www.googletagmanager.com/amp.json?id=GTM-PHW9GL7&gtm.url=SOURCE_URL"
    data-credentials="include">
  </amp-analytics>

<header class="header">
  <div class="container">
    <div class="nav-container">
      <div class="left-nav">
        <a href="{{url}}" class="tab">
          {{#if companyLogo}}
          <amp-img src="{{companyLogo.thumbnail.url}}"
            width="{{companyLogo.thumbnail.width}}"
            height="{{companyLogo.thumbnail.height}}"
            layout="fixed">
          </amp-img>
          <div class="company-name">{{companyName}}</div>
          {{else}}
          <br>
          <div class="company-name">{{companyName}}</div>
          <br>
          {{/if}}
				</a>
      </div>
      </div>
    </div>
  </div>
</header>

<div class="wrap">
  <div class="content">


<section class="blade blade--get-started">
  <div class="container">

    <div>
      <h3>{{jobTitle}}</h3>
      <h5>Posted {{datePostedLongFormat}}</h5>
      {{#if salary}}
      <div>
        <span class="salary"></span><span>{{salary}}</span>
      </div>
      {{/if}}
      {{#if employmentType}}
      <div>
        <span class="employment-type"></span><span>{{employmentType}}</span>
      </div>
      {{/if}}
      {{#if workHours}}
      <div>
        <span class="work-hours"></span><span>{{workHours}}</span>
      </div>
      {{/if}}
      <div>
        <span class="location"></span><span>{{jobLocation}}</span>
      </div>
      <br>
      <br>
    </div>

    <div class="card">
      <div class="card__content">
        <p>
          {{{markdown2Html jobDescription}}}
        </p>
        <br>
      </div>
    </div>

		{{#if showAdditionalDescription}}
    <div class="card">
      <div class="card__content">
        {{#if responsibilities}}
        <h4 class="card__title">Responsibilities</h4>
        <p>
          {{{markdown2Html responsibilities}}}
        </p>
        <br>
        {{/if}}

        {{#if skills}}
        <h4 class="card__title">Skills</h4>
        <p>
          {{{markdown2Html skills}}}
        </p>
        <br>
        {{/if}}

        {{#if educationRequirements}}
        <h4 class="card__title">Education Requirements</h4>
        <p>
          {{{markdown2Html educationRequirements}}}
        </p>
        <br>
        {{/if}}

        {{#if experienceRequirements}}
        <h4 class="card__title">Experience Requirements</h4>
        <p>
          {{{markdown2Html experienceRequirements}}}
        </p>
        <br>
        {{/if}}

        {{#if qualifications}}
        <h4 class="card__title">Qualifications</h4>
        <p>
          {{{markdown2Html qualifications}}}
        </p>
        <br>
        {{/if}}

        {{#if incentiveCompensation}}
        <h4 class="card__title">Incentive Compensation</h4>
        <p>
          {{{markdown2Html incentiveCompensation}}}
        </p>
        <br>
        {{/if}}

        {{#if jobBenefits}}
        <h4 class="card__title">Job Benefits</h4>
        <p>
          {{{markdown2Html jobBenefits}}}
        </p>
        <br>
        {{/if}}

      </div>
    </div>
		{{/if}}

    <div class="card">
      <div class="card__content">
        <h4 class="card__title">How to apply</h4>
        <p>
          {{{markdown2Html howToApply}}}
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card__content">
        <h4 class="card__title">Share this job posting</h4>
          <amp-social-share type="twitter"></amp-social-share>
          <amp-social-share type="linkedin"></amp-social-share>
          <amp-social-share type="email"></amp-social-share>
          <amp-social-share type="facebook"></amp-social-share>
          <amp-social-share type="pinterest"></amp-social-share>
          <amp-social-share type="gplus"></amp-social-share>
          <amp-social-share type="tumblr"></amp-social-share>
          <amp-social-share type="whatsapp"></amp-social-share>
      </div>
    </div>

  </div>
</section>

<footer>
  <div class="container">
    <div class="nav-container">
      <div class="right-nav">
        <a href="https://hallo.io" target="_blank" class="tab footer-powered-by"><span></span></a>
      </div>
    </div>
  </div>
</footer>    </div>
  </div>

</body>
</html>
